/* registro.css */
h1 {
    text-align: center;
    color: #fff;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    background: linear-gradient(45deg, #f0f0f0, #f5f5f5);
    border-collapse: collapse;
}

table td {
    padding: 10px;
}

.boton-atras {
    display: block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.boton-atras:hover {
    background-color: #4CAF50;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

input[type="submit"]:hover {
    background-color: #4CAF50;
}
